@import "src/theme/theme-variables";

.navbar {
  margin-bottom: $spacer;
}

.nav-link.dropdown-toggle {
  cursor: pointer;
}
.bg-blue {
  background-color: #305fb8;
}
.logo {
  width: 60px;
}
.header-title {
  text-transform: uppercase;
  color: #fff;
}
